{% extends "base.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="d-grid gap-2">
        <a href="{% url 'agregar_categoria' %}" class="btn btn-dark"><i class="bi bi-person-fill-add"></i></a>
    </div>
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>Categoria</th>
                            <th>Tipo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for categoria in categorias %}
                        <tr>
                            <td>{{ categoria.categoria }}</td>
                            <td>{{ categoria.tipo }}</td>
                            <td class="text-center">
                                <a href="#" class="btn btn-sm btn-warning editar-btn" data-url="{% url 'modificar_categoria' categoria.id %}" data-nombre="{{ categoria.categoria}}"><i class="bi bi-pen-fill"></i></a>
                                <a href="#" class="btn btn-sm btn-danger eliminar-btn" data-url="{% url 'eliminar_categoria' categoria.id %}" data-nombre="{{ categoria.categoria}}"><i class="bi bi-trash-fill"></i></a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center text-muted">
                                No hay categorias registradas.
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% if messages %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    {% for message in messages %}
        Swal.fire({
            icon: '{% if message.tags == "success" %}success{% elif message.tags == "error" %}error{% else %}info{% endif %}',
            title: '{{ message|escapejs }}',
            timer: 3000,
            timerProgressBar: true,
            showConfirmButton: false
        });
    {% endfor %}
</script>
{% endif %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.editar-btn').forEach(boton => {
        boton.addEventListener('click', function(e) {
            e.preventDefault();
            const url = this.dataset.url;
            const name = this.dataset.nombre;
            Swal.fire({
                title: 'Confirma la edición',
                text: `¿Estás seguro de editar a ${name}?`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = url;
                }
            });
        });
    });

    document.querySelectorAll('.eliminar-btn').forEach(boton => {
        boton.addEventListener('click', function(e) {
            e.preventDefault();
            const url = this.dataset.url;
            const name = this.dataset.nombre;
            Swal.fire({
                title: 'Accion irreversible',
                text: `¿Estás seguro de eliminar a ${name}?`,
                icon: 'error',
                showCancelButton: true,
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = url;
                }
            });
        });
    });
});
</script>
{% endblock %}